# Default ignored files
/shelf/
/workspace.xml
*.DS_Store
**/.DS_Store
.DS_Store
._.DS_Store
**/._.DS_Store
*.idea
*.pyc
._.pyc
**/.pyc
datasets/single-label/claroline-dis_50.csv
datasets/single-label/claroline-dis_10.csv
datasets/multi-label/claroline-dis_10.csv
datasets/multi-label/claroline-dis_50.csv
datasets/multi-label/claroline-rand_50.csv
datasets/multi-label/claroline-rand_10.csv
scripts/training_NN/__pycache__/training_RNN.cpython-38.pyc
scripts/training_NN/__pycache__/training_LSTM.cpython-38.pyc
scripts/training_NN/__pycache__/training_Model.cpython-38.pyc
scripts/training_NN/__pycache__/training_GRU.cpython-38.pyc
scripts/training_NN/__pycache__/preprocessing.cpython-38.pyc
scripts/training_NN/.DS_Store
results/training_metrics/.DS_Store
/scripts/training_NN/config-hercules.py
