# Default ignored files
/shelf/
/workspace.xml
*.DS_Store
**/.DS_Store
.DS_Store
._.DS_Store
**/._.DS_Store
*.idea
*.pyc
**/.pyc
datasets/single-label/claroline-dis_50.csv
datasets/single-label/claroline-dis_10.csv
datasets/multi-label/claroline-dis_10.csv
datasets/multi-label/claroline-dis_50.csv